@model AgnusCrm.Web.Models.Contact

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    
    <script>
        function removeUser(id) {
            $("#userId").val('');
        }

        function addUser(id) {
           $.ajax({
                url: '/Account/CreateUser/' + id,
                //type = 'GET',
                //contentType = 'application/json; charset=utf-8',
                //data: JSON.stringify(cart)
            });
            
        }
    </script>
}

<h2>Edit</h2>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="code" class="control-label"></label>
                <input asp-for="code" class="form-control" />
                <span asp-validation-for="code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullName" class="control-label"></label>
                <input asp-for="fullName" class="form-control" />
                <span asp-validation-for="fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="middleName" class="control-label"></label>
                <input asp-for="middleName" class="form-control" />
                <span asp-validation-for="middleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailAlt" class="control-label"></label>
                <input asp-for="emailAlt" class="form-control" />
                <span asp-validation-for="emailAlt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cellPhone" class="control-label"></label>
                <input asp-for="cellPhone" class="form-control" />
                <span asp-validation-for="cellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telephone" class="control-label"></label>
                <input asp-for="telephone" class="form-control" />
                <span asp-validation-for="telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <select id="userId" asp-for="userId" class="form-control" asp-items="ViewBag.userId">
                    <option disabled selected>--- SELECT ---</option>
                </select>
                <span asp-validation-for="userId" class="text-danger"></span>

                <button class="btn btn-danger" onclick="javascript:removeUser(@Model.id)"> <span class="fa fa-remove"></span></button>
                <a href="#" class="btn btn-success" onclick="javascript:addUser(@Model.id)"> <span class="fa fa-user-circle"></span></a>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

