@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LayoutLogin";
}



<div class="login-box">
    <div class="login-logo">
        <a href="/Identity/Account/Login"><b>Agnus</b>CRM</a>
    </div>

    <!-- /.login-logo -->
    <div class="login-box-body">
        <h1>@ViewData["Title"]</h1>

        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
